body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.header h1 {
  color: rgb(0, 0, 0);
  font-size: 4.2vw;
}

.header p {
  font-size: 2vw;
  color: #2a5346;
  animation: fade;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate; 
  transition-timing-function: ease-in-out;
}

@keyframes fade {
  0% {opacity:0;}
  100% {opacity:1;}
}

.about-me {
  padding: 3vh 0;
}