body {
    background-color: #efefef;
    color:white;
}

.eye-catch {
    background-color: #023430;
}

.databases {
    color: black;
}

.databases .position-absolute {
    width: 90%;
}

.languages div p:first-of-type {
    text-align: center;
}

.languages > div {
    background-color: #023430;
    max-height: 300px;
    min-height: 300px;
}

.languages h2 {
    color: black;
}

.languages .position-absolute {
    color: rgb(37, 35, 35);
}

.projects {
    background-color: #023430;
}


.my-footer {
    background-color: #061621;
}

.square-bg {
    width: 400px;
    height: 400px;
    transform: rotate(45deg);
    transform-origin: 100% 0;
}

.my-nav {
    background-color: #061621;
}

.my-nav a {
    text-decoration: none;
    color:white;
    margin-left: 1rem;
}

.my-nav a:hover {
    color:red;
}
