body {
    background-color: #efefef;
    color:white;
}

.eye-catch {
    background-color: #023430;
}

.databases {
    color: black;
}

.databases .position-absolute {
    width: 90%;
}

.languages div p:first-of-type {
    text-align: center;
}

.languages > div {
    background-color: #023430;
    max-height: 300px;
    min-height: 300px;
}

.languages h2 {
    color: black;
}

.languages .position-absolute {
    color: rgb(37, 35, 35);
}

.languages .position-relative {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.my-footer {
    background-color: #061621;
}

.square-bg {
    width: 400px;
    height: 400px;
    transform: rotate(45deg);
    transform-origin: 100% 0;
}

.my-nav {
    background-color: #061621;
}

.my-nav a {
    text-decoration: none;
    color:white;
    margin-left: 1rem;
}

.my-nav a:hover {
    color:red;
}

.my-btn {
    text-decoration: none;
    color:white;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.demo-btn {
    background-color: #7185b1;
}

.demo-btn:hover, .code-btn:hover {
    color:black;
    font-size: 1.1rem;
}

.code-btn {
    background-color: #376c89;
}

.gray-project {
    background-color: #252323;
}

.projects img {
    width: 100%;
}